.xwrapper {
  position: relative;
  width: 100%;
}
.xheader {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1200px;
}
.nav-menu {
  display: none;
}

.xheader__nav {
  width: 100%;
  padding: 0 30px 0 1.5px;
}
.header__menu-list {
  display: flex;
  list-style: none;
}
.nav-item {
  padding-right: 44px;
}
.nav-item .a {
  line-height: 60px;
  height: 60px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;

  margin-right: 0;
  padding: 0;
}
.a:hover {
  color: #ffdd95;
}

.mwt-content {
  display: block;
}
.logo img {
  padding-left: 290px;
  height: 300px;
}

.mwt-icon {
  position: absolute;
  display: flex;
  right: 0;
  left: 350px;
  z-index: -1;
}
.mwt-icon img {
  width: 100%;
  height: 600px;
}
.xseach {
  position: absolute;
  display: flex;
  padding-left: 280px;
  width: 100%;
  top: 250px;
}
.search-content {
  padding: 5px 90px;
}
#search-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 570px;
}

.search-input {
  height: 50px;
  font-weight: 400;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  border: none !important;
}
.search-input::placeholder {
  color: #495057;
  font-family: var(--poppins);
}

.search-submit {
  display: block;
  padding-bottom: 100px;
}

.serch-btn-icon {
  display: flex;

  padding: 15px;
  border-radius: 100%;
  background-color: rgb(230, 45, 45);
}
