@import url(./App.css);
@import url(./css/LandingPage_Css_Components/LandingPage.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(36, 36, 40);

  overflow-x: hidden;
  font-family: var(--poppins);
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 500;
  text-align: left;
}

:root {
  --background-color: rgb(36, 36, 40);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --poppins: "poppins", sans-serif;
}

@media only screen and (max-width: 375px) {
  .xheader {
    margin-top: 10px;
  }
  .lp-container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  .header__menu-list.active {
    width: 100%;
    display: block !important;
    list-style: none;
    padding: 0;

    border-radius: 30px;
  }
  .nav-menu {
    display: inline-block;
    top: 20px;
    height: 60px;
    position: relative;
    margin: 0 20px 0;
  }
  .nav-menu__btn {
    display: flex;
    background: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    align-items: center;
    font-family: var(--poppins);
    font-size: 14px;
    cursor: pointer;
    z-index: 2;
  }
  .xheader__nav {
    position: absolute;
    width: 100%;

    padding: 0 27px 0 0px;
  }
  .xheader__nav.active {
    display: none;
  }
  .nav-menu__btn.active {
    color: #ffdd95;
  }

  .header__menu-list {
    top: 60px;
    background-color: #6c757d;
    border-radius: 25px;
    height: auto;
    padding: 10px 0;
    z-index: 99;
  }

  .nav-item .a {
    padding-left: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) and (min-width: 376px) {
  .xheader {
    margin-top: 10px;
  }
  .lp-container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  .header__menu-list.active {
    width: 100%;
    display: block !important;
    list-style: none;
    padding: 0;

    border-radius: 30px;
  }
  .nav-menu {
    display: inline-block;
    top: 20px;
    height: 60px;
    position: relative;
    margin: 0 20px 0;
  }
  .nav-menu__btn {
    display: flex;
    background: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    align-items: center;
    font-family: var(--poppins);
    font-size: 14px;
    cursor: pointer;
    z-index: 2;
  }
  .xheader__nav {
    position: absolute;
    width: 100%;

    padding: 0 22px 0 0px;
  }
  .xheader__nav.active {
    display: none;
  }
  .nav-menu__btn.active {
    color: #ffdd95;
  }

  .header__menu-list {
    top: 60px;
    background-color: #6c757d;
    border-radius: 25px;
    height: auto;
    padding: 10px 0;
    z-index: 99;
  }

  .nav-item .a {
    padding-left: 40px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .xheader {
    margin-top: 10px;
  }
  .lp-container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  .header__menu-list.active {
    width: 100%;
    display: block !important;
    list-style: none;
    padding: 0;

    border-radius: 30px;
  }
  .nav-menu {
    display: inline-block;
    top: 20px;
    height: 60px;
    position: relative;
    margin: 0 20px 0;
  }
  .nav-menu__btn {
    display: flex;
    background: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    align-items: center;
    font-family: var(--poppins);
    font-size: 14px;
    cursor: pointer;
    z-index: 2;
  }
  .xheader__nav {
    position: absolute;
    width: 100%;

    padding: 0 40px 0 0px;
  }
  .xheader__nav.active {
    display: none;
  }
  .nav-menu__btn.active {
    color: #ffdd95;
  }

  .header__menu-list {
    top: 60px;
    background-color: #6c757d;
    border-radius: 25px;
    height: auto;
    padding: 10px 0;
    z-index: 99;
  }

  .nav-item .a {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .xheader {
    margin-top: 10px;
  }
  .lp-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .nav-item .a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 0;
  }
  .a:hover {
    color: #ffdd95;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  .lp-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 96px;
  }
  .nav-item .a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .a:hover {
    color: #ffdd95;
  }
}
@media screen and (max-width: 1199px) {
  #mw-top .mwt-content .mwt-icon {
    width: 40%;
  }
}
