@import url(./App.css);
@import url(./css/LandingPage.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(36, 36, 40);

  overflow-x: hidden;
  font-family: "Poppins", Arial;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
}

:root {
  --background-color: rgb(36, 36, 40);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace; */

  --poppins: "poppins", sans-serif;
}

@media only screen and (max-width: 425px) {
  .xheader {
    padding-top: 30px;
    padding-left: 0;
    display: flex;
  }

  .nav-menu {
    display: flex;
    padding-left: 20px;
  }

  .nav-menu__btn {
    display: flex;
    background: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    align-items: center;
    font-family: var(--poppins);
    font-size: 12px;
    cursor: pointer;
    z-index: 2;
  }

  .nav-menu__btn.active {
    color: #ffdd95;
  }
  .xheader__nav.active {
    display: none;
  }

  .xheader__nav {
    position: absolute;
    width: 470px;
    top: 60px;
    border-radius: 0px;
    left: 0px;

    background-color: rgba(92, 93, 99, 0.98);
    padding: 10px;
    padding-right: 30px;
    z-index: 10;
  }

  .header__menu-list {
    /* z-index: ; */
    display: flex;
    flex-direction: column;

    width: auto;
    text-align: center;
  }
  .nav-item {
    padding-right: 6px;
    padding-left: 6px;
  }
  .nav-item .a {
    font-size: 12px;
    line-height: 55px;
  }
  .a:hover {
    color: #ffdd95;
  }
  /* xmainWrapper */
  .cover-img,
  .cover-img img {
    display: none;
  }
  .logo {
    position: absolute;
    padding-top: 0px;
    top: 0;
    padding-left: 10px;
  }
  .mwt-content {
    padding-left: 10px;
  }

  .xseach {
    position: absolute;
    display: flex;

    padding-left: 0px;

    width: 350px;
    top: 210px;
  }
  .search-icon {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .xheader {
    padding-top: 30px;
    padding-left: 20px;
  }

  .nav-menu {
    display: flex;
    padding: 0;
  }
  .nav-menu__btn {
    display: flex;
    background: transparent;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
    align-items: center;
    font-family: var(--poppins);
    font-size: 14px;
    cursor: pointer;
    z-index: 2;
  }

  .nav-menu__btn.active {
    color: #ffdd95;
  }
  .xheader__nav.active {
    display: none;
  }

  .xheader__nav {
    position: absolute;
    display: flex;
    width: 500px;
    top: 15px;
    left: 100px;
    border-radius: 25px;
    background-color: #ffffff27;
    padding: 0 0 0 20px;
  }

  .header__menu-list {
    width: auto;
    text-align: center;
  }
  .nav-item {
    padding-right: 25px;
  }
  .nav-item .a {
    font-size: 14px;
    line-height: 55px;
  }

  .a:hover {
    color: #ffdd95;
  }
  /* xmainWrapper */

  .cover-img,
  .cover-img img {
    display: none;
  }

  .logo {
    position: absolute;
    padding-top: 0px;
    top: 0;
    padding-left: 10px;
  }

  .xseach {
    position: absolute;
    display: flex;
    padding-left: 70px;

    width: 100%;
    top: 190px;
  }
  .search-icon {
    padding-right: 40px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .xheader {
    padding-top: 17px;
    padding-left: 17px;
  }
  .xheader__nav {
    padding-left: 35px;
  }

  .nav-item {
    padding-right: 44px;
  }
  .nav-item .a {
    font-size: 13px;
  }
  .cover-img {
    position: absolute;
    top: 50px;

    padding-left: 670px;
    padding-right: 10px;
  }
  .cover-img img {
    max-height: 400px;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .search-icon {
    padding-right: 200px;
  }
  .xseach {
    position: absolute;
    display: flex;
    padding-left: 100px;

    max-width: 100%;
    top: 230px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .xheader {
    padding-top: 50px;
  }
  .xheader__nav {
    padding-left: 120px;
  }
  .container {
    width: 100%;
  }
  .xmain-wrapper {
    padding-left: 100px;
    justify-content: center;
    background-color: #007bff;
  }

  .nav-item {
    padding-right: 44px;
  }

  .cover-img {
    position: absolute;
    top: 80px;

    padding-left: 760px;
    padding-right: 10px;
  }
  .logo {
    position: absolute;
    padding-left: 0px;
  }
  .search-icon {
    padding-right: 100px;
  }
  .xseach {
    position: absolute;
    padding-left: 0px;
    padding-left: 60px;
    width: 690px;
    top: 330px;
  }
}
